* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
  color: #2e2e2e;
}

/*
  Header Component Styling
  ------------------------
*/
.header {
  background-color: white;
  position: fixed;
  height: 75px;
  width: 100vw;
  padding: 0 30px;
  box-shadow: 0 2.5px 4px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.header--logo {
  display: flex;
  align-items: center;
}

.header--logo_img {
  width: 60px;
  margin-right: 1rem;
}

.header--logo_title {
  text-decoration: none;
  font-size: 2rem;
}

.header--nav {
  display: flex;
  justify-content: space-between;
  height: inherit;
  align-items: center;
}

.header--nav_list {
  list-style: none;
  display: flex;
  height: inherit;
  align-items: center;
}

.header--nav_link {
  text-decoration: none;
  margin-right: 3rem;
}

.header--nav_social_link {
  margin-left: 1rem;
  padding: 0.3rem;
  display: flex;
}

/*
  Layout Component Styling
  ------------------------
*/

.layout--container {
  position: relative;
  top: 75px;
}

/*
  SidePanel Component Styling
  ------------------------
*/

.sidepanel {
  width: 300px;
  height: calc(100vh - 75px);
  background-color: #faf8f8;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  overflow-y: scroll;
  padding: 30px 20px;
}

.sidepanel--section {
  margin-bottom: 20px;
}
.sidepanel--section_title {
  cursor: pointer;
  font-weight: 400;
  font-size: 1.2rem;
}

.sidepanel--section_list_item {
  margin-top: 10px;
}

.sidepanel--section_link {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  margin-left: 20px;
}

/*
  DocTemplate Component Styling
  ------------------------
*/

.doc--container {
  display: flex;
}

.doc--content {
  position: relative;
  left: 300px;
  width: calc(100vw - 300px);
  padding: 30px;
}
